<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Flight Monitor</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="app">
            <div class="container">
                <h2>Flight monitor</h2>

                <div class="card mt-5" v-if="flights.length == 0">
                    <div class="card-body">
                        <h4>No data</h4>
                    </div>

                </div>

                    <div class="card mt-5" >

                        <div class="card-body">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                    <th scope="col">Airline</th>
                                    <th scope="col">Departure</th>
                                    <th scope="col">Arrival</th>
                                    <th scope="col">Flight #</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Flight Date</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    <tr v-for="flight in flights" @click="openFlighItem(flight)">
                                        <td scope="row">
                                            <strong>  {{ flight?.airline?.name }} /  {{ flight?.airline?.iata }}   </strong>

                                        </td>
                                        <td scope="row">
                                            <strong>  {{ flight?.departure?.airport }} </strong>
                                            <ul class="list-group list-group-flush "  v-if="flight.isShow">

                                                <li class="list-group-item">Terminal : {{ notAvailableData(flight?.departure?.terminal)  }}</li>
                                                <li class="list-group-item">Gate : {{  notAvailableData(flight?.departure?.gate)  }}</li>
                                                <li class="list-group-item">Scheduled @ {{ notAvailableData(flight?.departure?.scheduled)  }}</li>
                                            </ul>
                                         
                                        </td>
                                        <td>
                                            <strong>    {{ flight?.arrival?.airport }}    </strong>
                                            <ul class="list-group list-group-flush " v-if="flight.isShow">
                                                <li class="list-group-item">Terminal : {{ notAvailableData(flight?.arrival?.terminal)  }}</li>
                                                <li class="list-group-item">Gate : {{ notAvailableData(flight?.arrival?.gate)  }}</li>
                                                <li class="list-group-item">Estimated @ {{ notAvailableData(flight?.arrival?.estimated)  }}</li>
                                            </ul>
                                        </td>
                                        <td >
                                        {{ flight?.flight?.iata }}
                                        </td>
                                        <td >
                                           <div v-if="flight?.flight_status == 'active'" class="badge bg-success "> {{ flight?.flight_status }} </div>
                                           <div v-if="flight?.flight_status != 'active'" class="badge bg-secondary text-white"> {{ flight?.flight_status }} </div>
                                        </td>
                                        <td >
                                            {{ flight?.flight_date }}
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
            </div>
        </div>
  

        <script src="main.js"></script>

    </body>
</html>